.search-main-container {
    justify-content: center;
    padding: 1rem;

}

.mycol {
    padding: 1rem;
}

.myrow-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shrink {
    max-width: 80%;
}

.btn-shrink{
    max-width: 20%;
}

.padding-search{
    padding: 1rem;
}